<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <h1>Породы: 
    </h1>
    <ul>
        <% for(let breed of db) {%> 
            <li>
                <%= breed.breed %>
                <a href="/breeds/<%= breed.id %> ">Детали</a> 
                <form action="/breeds/<%= breed.id %>?_method=DELETE" method="post">
                    <button type="submit">Удалить</button>
                </form>
            </li>
            
        <% } %> 
    </ul>
    <a href="/breeds/new">Добавить новую породу</a>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>