<%- include('partials/head')  %> 
    <%- include('partials/navbar')  %> 
    <h1>Рандомное число от 1 до 10: <%= rand %> </h1>
    <% if (rand % 2 === 0) {%>
        <h2>Это четное число! </h2>
    <% } else {%> 
        <h2>Число нечетное</h2>
    <% } %>  

    <%- include('partials/footer')  %> 