<% layout('boilerplate') -%>
<div class="container mt-3 d-flex flex-column align-items-center">
	<h1 class="mb-3">This is a secured kitty</h1>
	<div class="card" style="width: 38rem">
		<img
			src="https://i11.fotocdn.net/s119/57888992bf534bce/public_pin_l/2719827929.jpg"
			class="card-img-top"
			alt="..."
		/>
		<div class="card-body">
			<p class="card-text">
				This cat is protected by Kirill Lebedev
			</p>
		</div>
	</div>
</div>
